name: Tests and coverage

on:
  pull_request:
    branches:
      - main
      - develop
    types: [ opened, reopened, synchronize, ready_for_review ]

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the code
        uses: actions/checkout@v4
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.32.1'
      - name: Install dependencies
        run: flutter pub get
      - name: Generate files
        run: dart run build_runner build

      - name: Analyze
        run: dart analyze
      - name: Run tests
        run: flutter test --coverage

      - name: Setup LCOV
        uses: hrishikesh-kadam/setup-lcov@v1
      - name: Report Code Coverage
        uses: zgosalvez/github-actions-report-lcov@v4
        with:
          coverage-files: coverage/lcov.info
          minimum-coverage: 80
          artifact-name: code-coverage-report
          github-token: ${{ secrets.GITHUB_TOKEN }}
          update-comment: true
